.data-panel {
	width: 300px;
	min-height: 300px;
	background-color: #fff;
	text-align: center;
}

.panel-heading {
	line-height: 50px;
	height: 50px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: black;
	color: #fff;
}